body {
  background: #0f2027;
  color: white;
  font-family: Arial;
  text-align: center;
}

.games a {
  display: inline-block;
  margin: 20px;
  padding: 15px 30px;
  background: #ff5722;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
}
