body {
  font-family: sans-serif;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 50px;
  border: 2px solid black;
  cursor: pointer;
}
