body {
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

canvas {
  background: skyblue;
  display: block;
  margin: auto;
  border-radius: 8px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}
