.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(13, 13, 13, 0.85);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-size: 1.3rem;
  font-weight: 700;
}

.nav-links a {
  margin-left: 30px;
  font-size: 0.95rem;
  color: #ccc;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: white;
}

/* Push content down because navbar is fixed */
body {
  padding-top: 80px;
}

body {
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

canvas {
  background: skyblue;
  display: block;
  margin: auto;
  border-radius: 8px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}
